@font-face {
  font-family: 'UNCAGE';
  src: url('../assets/fonts/UNCAGE-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UNCAGE';
  src: url('../assets/fonts/UNCAGE-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UNCAGE';
  src: url('../assets/fonts/UNCAGE-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UNCAGE';
  src: url('../assets/fonts/UNCAGE-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
